/* 1: Splash */

.splash {

  #dd-logo {
    img {
      width: auto;
      max-width: 75vw;
      max-height: 55vh;
    }
  }

  #presented {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2em 0 .5em;
  }

  #mbi-logo {
    img {
      max-width: 480px;
    }
  }

}