/* Base Admin Styles */

// Body
body {
  background: $lt-blue;
  color: $black;
}

// Page Title
h1 {
  font-size: 3rem;
  line-height: 1;
  margin: 2.25rem 3rem 1.75rem;
  text-align: left;
  text-transform: uppercase;

  .dd {
    font-family: $logo-font;
  }
}

// Buttons
button {
  font-family: $font;
  cursor: pointer;
  text-transform: uppercase;
  color: $white;
  border: none;
  background: transparentize($md-blue,.25);
  transition: background $base-duration $base-timing, color $base-duration $base-timing, border $base-duration $base-timing;

  // Hover
  &:hover {
    background: $dk-blue;
  }

  // Positive Buttons
  &.positive {
    &:hover {
      background: $green;
    }
  }

  // Neutral Buttons
  &.neutral {
    background: $blue;
    &:hover {
      background: $dk-blue;
    }
  }

  // Negative Buttons
  &.negative {
    background: $lt-blue;
    &:hover {
      background: $red;
    }
  }

} // buttons

input {
  color: $black;
  width: 100%;
  font-family: $font;
  border: 2px solid mix($lt-blue, $blue);
  background: mix($white, $lt-blue, 75%);
  transition: border $base-duration $base-timing, background $base-duration $base-timing;
  font-size: 24px;
  padding: 10px 1rem 8px;

  &:hover {
    border-color: $blue;
  }

  &:focus {
    border-color: $orange;
    background: $white;
  }

  &[type="text"] {}

  &[type="number"] {
    text-align: center;
    font-weight: bold;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

// Form Placeholders
::-webkit-input-placeholder {
  color: mix($black, $lt-blue);
  font-size: 1rem;
}
::-moz-placeholder {
  color: mix($black, $lt-blue);
  font-size: 1rem;
}
:-ms-input-placeholder {
  color: mix($black, $lt-blue);
  font-size: 1rem;
}
:-moz-placeholder {
  color: mix($black, $lt-blue);
  font-size: 1rem;
}