/* Base Styles */

// Everything
* {
  box-sizing: border-box;
  margin: auto;
}

// REM
body,
html {
  font-size: $rem;
  line-height: 1;
  text-align: center;
}

// Body
body {
  font-family: $font;
  text-align: center;
}

// Images
img,
svg {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}