/* Minisystem */

// Regular
@font-face {
  font-family: $timer-font;
  src: url('../fonts/minisystem.woff2') format('woff2'),
       url('../fonts/minisystem.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}