/* Variables */

// Cache
$cache: 1;

// Colors
$black: #000;
$white: #fff;

$orange: #f5783c;
$peach: #ffa671;
$yellow: #fff772;

$lt-blue: #c4e4f5;
$blue: #009deb;
$md-blue: #2d61f5;
$dk-blue: #101662;

$red: #621016;
$green: #166210;

// Text
$rem: 15px;

// Animations
$base-duration: 300ms;
$base-timing: linear;