/* Base Styles */

// Body
body {
  color: $white;
  background-image: url('../images/game_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

// Main
main {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}